.search-input {
    width: 600px !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.search-button {
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.search-results {
    margin-bottom: 72px;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}